<!--suppress HtmlFormInputWithoutLabel -->

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="mdc-form__row" {% with {attr: row_attr|default({})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
    </div>
{%- endblock form_row -%}

{%- block button_row -%}
    <div class="mdc-form__button-row" {% with {attr: row_attr|default({})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="mdc-form__error">
            {%- for error in errors -%}
                <span class="mdc-form__error__entry">{{ error.message }}</span>
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}


{%- block form_widget_simple -%}
    <div class="mdc-text-field">
        <input type="text"
               class="mdc-text-field__input"
                {{ block('widget_attributes') }}
                {% if value is not empty %}value="{{ value }}" {% endif %}
        >
        <label class="mdc-floating-label" for="my-text-field">{{- form_label(form) -}}</label>
        <div class="mdc-line-ripple"></div>
    </div>
{%- endblock form_widget_simple -%}

{%- block checkbox_widget -%}
    <div class="mdc-checkbox">
        <input  type="checkbox"
                class="mdc-checkbox__native-control"
                {{ block('widget_attributes') }}
                {% if value is defined %} value="{{ value }}"{% endif %}
                {% if checked %} checked="checked"{% endif %}
        />
        <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark"
                 viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path"
                      fill="none"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
        </div>
    </div>
    <label>{{- form_label(form) -}}</label>
{%- endblock checkbox_widget -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="mdc-button" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label }}</button>
{%- endblock button_widget -%}

{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        <div class="mdc-time" {{ block('widget_container_attributes') }}>
            <span class="mdc-time__label">{{ label }} :</span>{{ form_widget(form.hour, vars) }}{% if with_minutes %}<span class="mdc-time__separator">:</span>{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}<span class="mdc-time__separator">:</span>{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}


