{% extends "admin/admin.html.twig" %}

{% block title %}
    Deploy Performed
{% endblock %}

{% block content %}
    <form class="deploy-result" method="post" action="{{ path('deploy_option_perform') }}">
        <h1 class="deploy-result__title">Deploy Result</h1>
        {% for deployOptionResult in deployResult %}
            <div class="deploy-result__option">
                <div class="deploy-result__option__status deploy-result__option__status--{{ deployOptionResult.isSuccessful() ? 'success' : 'fail' }}">
                    Command [{{ deployOptionResult.getDeployOption().getName() }}
                    ] {{ deployOptionResult.isSuccessful() ? 'Succeeded' : 'Failed' }}
                </div>
                <code class="deploy-result__option__output"><span>{{ deployOptionResult.getOutput() }}</span></code>
            </div>
            <input type="hidden" name="{{ deployOptionResult.getDeployOption().getId() }}" value="1"/>
        {% endfor %}
        <input class="deploy-result__submit mdc-button" type="submit" value="Redeploy">
    </form>
{% endblock %}